# Ignore the virtual environment folder
venv/
env/

# Ignore personal credentials file
credentials.json
token.json

# Ignore Datasets
senders_data_partial.json
senders_data.json
noreply_senders.json

# Ignore Python bytecode
__pycache__/
*.pyc

# MacOS system files
.DS_Store
